.blogTitle {
  margin-bottom: 3rem !important;
}

.archivePageTitle {
  text-transform: uppercase;
  color: hsl(0, 0%, 38.8%);
  margin-bottom: 3rem !important;
}

.blogListTitle {
  margin-bottom: 0.75rem !important;
}

.blogListTitle a {
  color: #1776bf;
  text-decoration: none !important;
}

.blogListTitle a:hover {
  text-decoration: underline !important;
}

.blogListPostText {
  margin-bottom: 0 !important;
}

/* Header - shown after title and before post body */
.blogHeader {
  color: hsl(0, 0%, 45.9%);
  font-size: 13px;
  margin: 0.6rem 0 2rem;
}

.blogHeader a {
  color: hsl(0, 0%, 45.9%);
}

/* Footer - shown on list pages and after single posts */

.blogFooter {
  color: hsl(0, 0%, 45.9%);
  font-size: 13px;
  margin: 0.6rem 0 2.75rem;
}

.blogFooter a {
  color: hsl(0, 0%, 45.9%);
}

/* Sidebar */

.blogSidebarTitle {
  font-size: 14px;
  color: hsl(0, 0%, 38.8%);
  font-weight: 700;
}

.blogSidebarSection {
  margin: 0 0 2rem;
  font-size: 13px;
}

.blogSidebarSection a {
  text-decoration: none;
  color: #1776bf;
}

.blogSidebarSection a:hover {
  text-decoration: underline;
}

.blogSidebarSection li {
  line-height: 1rem;
  margin: 0.8rem 0;
}

.blogSidebarLinksBlock {
  display: flex;
  flex-wrap: wrap;
}

.blogSidebarLinksBlock li {
  padding: 0.8rem 1rem 0rem 0;
  margin: 0;
}

/* Navigation below a single post */

.nextOrPreviousLink {
  color: #1776bf;
  font-weight: bold;
  text-decoration: none !important;
}

.nextOrPreviousLink:hover {
  text-decoration: underline !important;
}

.previousPostText {
  margin-top: 1.5rem;
}

/* Blog post content */

/* Styles taken from Bulma ".title" and ".is-5" etc. */
/* 2rem is default font-size for ".title" */
.blogPostContent h2,
.blogPostContent h3 {
  color: hsl(0, 0%, 21.2%);
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.blogPostContent h2 {
  /* 1.5rem is "is-4" */
  font-size: 1.5rem;
}

.blogPostContent h3 {
  /* 1.25rem is "is-5" */
  font-size: 1.125rem;
}

.blogPostContent img {
  margin: 1.5em 0;
}
