@charset "utf-8";

/* In the previous wordpress style version of the site the
   blue link hover color was #21759b to go with the blue
   link color #1776bf. */

$sn-color: #547878;
$dn-color: #545578;
$link-hover-color: #1776bf;
$bulma-grey-dark: hsl(0, 0%, 29%);

// 94% is between Bulma's:
//   $grey-lighter (86%)
//   $background / $white-ter (96%)
$clairnote-white-ter: hsl(0, 0%, 94%);

// On using Sass's new `@use` with bulma:
// https://github.com/jgthms/bulma/issues/2797#issuecomment-795368127
//
// Configure any initial variables here:
// @use '~bulma/sass/utilities/initial-variables' as * with(
//   $red: pink
// );
//
// Configure any other variables here:
@use "~bulma/bulma" with(
  $widescreen-enabled: false,
  $fullhd-enabled: false,

  $primary: $sn-color,
  $info: $dn-color,

  $link: $bulma-grey-dark,
  $link-hover: $link-hover-color,

  $code: $bulma-grey-dark,
  $code-background: $clairnote-white-ter,
  $pre-background: $clairnote-white-ter
);
