.pageTitle {
  text-align: center;
}

.primaryContent {
  min-height: 550px;
}

.primaryContent p {
  line-height: 1.8em;
  margin-bottom: 1.8em;
}

.primaryContent a {
  text-decoration: underline;
}

/**
 * Bulma's default border for form elements is too light.
 * The color is the same as Bulma's hover color, so this
 * removes the change on hover.
 */
.primaryContent select,
.primaryContent button,
.primaryContent input {
  border-color: #b5b5b5;
}

/**
 * Bulma uses the link hover color for button hover, but we don't want the
 * button text color to change on hover.
 */
.primaryContent button:hover {
  color: hsl(0, 0%, 21.2%);
}

.primaryContent ul {
  line-height: 1.8em;
  list-style: disc outside;
  margin: 0 0 1.8em;
}

.primaryContent ul ul {
  margin-bottom: 0;
}

.primaryContent li {
  margin: 0 0 0 1.5em;
}

@media screen and (min-width: 1024px) {
  .primaryContent li {
    margin: 0 0 0 2.5em;
  }
}

/* Similar to Bulma's is-light button style, but not quite as light. */
.buttonLight {
  background-color: hsl(0, 0%, 93.3%); /*  #eee */
}

.buttonLight:hover {
  background-color: hsl(0, 0%, 90%);
}

.imageContainer {
  margin: 3em 0;
  text-align: center;
}

/* To be used as the child of an `.imageContainer`. */
.thumbnailImageContainer {
  width: 310px;
  margin: 0 auto;
}

.caption {
  margin: 1em 0 2em;
  font-size: smaller;
  font-style: italic;
}

.videoBoxed {
  /* Bulma sets `height: auto;`. The best way to override that appears to
     be by using a `style` property on the <video>. */
  /* height: unset; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.listTitle {
  margin-bottom: 0.45em;
}

pre {
  margin-bottom: 1.8em;
}

.nextPageLink {
  color: #1776bf;
  text-decoration: none !important;
}

.nextPageLink:hover {
  text-decoration: underline !important;
}

/* Homepage
-------------------------------------------- */

.homeTitle {
  margin-top: 16px;
  text-align: center;
}

.homeSubtitle {
  text-align: center;
  font-weight: normal;
  line-height: 1.5em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.homeHeading {
  margin-top: 4.5rem;
  text-align: center;
  line-height: 1.5em;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.homeCenteredText {
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

/* Footnotes
-------------------------------------------- */
.footnotes {
  border-top: 2px solid #ccc;
  margin: 4em 0 0;
  padding: 2em 0 0;
  font-size: small;
  text-align: left;
}

.footnotes li {
  margin: 0 2em 2em 3em;
}

.footnoteRef {
  /* Prevents messing with the usual line-height spacing of the text. */
  line-height: 0em;
}

.footnoteRef a,
.footnoteRef a:hover {
  font-size: 15px;
  text-decoration: none;
}

.footnoteReturn {
  background: url(http://clairnote.org/images/uptotext.png) no-repeat 100% 40%;
  padding-right: 20px;
}
