/* 
Breakpoints from Bulma
mobile: up to 768px
tablet: from 769px
desktop: from 1024px
widescreen: from 1216px
fullhd: from 1408px
*/

.displayTouch {
  display: unset;
}
.displayDesktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .displayTouch {
    display: none;
  }
  .displayDesktop {
    display: unset;
  }
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.flexWrapWrap {
  flex-wrap: wrap;
}

.marginBottomMinusOnePx {
  margin-bottom: -1px;
}
