@import "../global-styles/vars.css";

.footerSectionVeryLight {
  background-color: var(--grey-lighter-background);
  border-top: 1px solid var(--grey-lighter-border) !important;
}

.footerSectionDark {
  color: #fff;
}

.footerSectionTitle {
  /* Matches Bulma's `button is-ghost` */
  border-width: 1px;
  border-color: transparent;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  /* Plus additional styles */
  font-weight: bold;
}

.buttonLink {
  color: #fff !important;
}

@media screen and (min-width: 1024px) {
  .footerSection {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
  }

  /* This aligns text of the first button/link with the left side of the page,
   undoing the left margin of the first button/link. */
  .buttonLinksPlacement {
    margin-left: -1em;
  }
}

/* FINE PRINT */

.finePrint {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 1rem;
  padding: 0;
}

.finePrint:last-child {
  margin-bottom: 0;
}

.finePrint a {
  color: #fff;
  text-decoration: underline;
}

.finePrint a:hover {
  color: #fff;
}
