@import "../global-styles/vars.css";

/* navOne and navTwo refer to the primary and secondary nav bars. */

.navOneLink:hover,
.navOneLink:focus {
  background-color: transparent !important;
}

.navTwo {
  background-color: var(--grey-lighter-background);
  border-top: 1px solid var(--grey-lighter-border) !important;
  display: none !important;
  margin-bottom: 0 !important;
}

.navTwo > ul {
  border-bottom-color: var(--grey-lighter-border) !important;
}

.navTwo a:hover,
.navTwo a:focus {
  border-bottom-color: var(--grey-lighter-border) !important;
}

.navTwo a:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 1024px) {
  /* Only on smaller (mobile/tablet) screens. */

  .navbarDropdown {
    border-bottom: 1px solid var(--grey-lighter-border);
  }
}

@media screen and (min-width: 1024px) {
  /* Only on larger (desktop) screens. */

  .navOneLink:hover {
    text-decoration: underline !important;
  }

  .navOneLinkActive {
    text-decoration: underline !important;
  }

  .navOneLinkExtraText {
    display: none;
  }

  .navOneLinkSpacing {
    /*
       Put this class on various elements that are, or contain, navbar links.
       The idea is to give them just enough margin so that they are spread
       evenly across the whole width of the navbar. To measure this, put a
       temporary background color on the "container" div and adjust the
       margin-right below until the last navbar link text is right at the
       edge of the "container".
    */
    margin-right: 3.84rem;
  }

  .navTwo {
    display: flex !important;
  }

  .navTwoActive {
    text-decoration: underline !important;
  }
}
