.link {
  cursor: pointer;
}

.sheetMusicWrapper {
  text-align: left;
}

.entry-title {
  font-size: 1.428571429rem;
  line-height: 1.2;
  margin-bottom: 1.714285714rem;
}

/* Search and Filter UI */

.collectionSelectMenuContainer {
  margin-bottom: 0.75rem;
}

.searchFilterUi {
  font-size: 13px;
  line-height: 2em;
  padding: 0 0 0 0;
  margin-bottom: 1em;
}

.filterSelectWrapper {
  display: block;
  margin: 0 0 0.75rem;
}

.collectionDescription {
  margin-bottom: 1rem;
}

/* Tabs */
/* Tabs not currently used.

.tabWrapper {
  margin: 1.8em 0 1em !important;
  border-bottom: 1px solid #ccc;
}

.tabItem {
  list-style: none;
  display: inline-block;
  margin: 0 !important;
}

.tab,
.activeTab {
  margin: 0 !important;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  background: none;
  border: none;
  border-radius: 0px;
}

.tab:hover,
.tab:active {
  color: #222;
  background: none;
  box-shadow: none;
}

.activeTab,
.activeTab:hover,
.activeTab:active {
  border-bottom: 2px solid #1982d1;
  color: #1982d1;
  background: none;
  box-shadow: none;
}
*/

/* Pagination */

.paginationItem {
  list-style: none;
  display: inline-block;
  margin: 0.2rem !important;
  padding: 0;
}

.paginationLink,
.paginationLinkCurrent {
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 1.5rem;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: 0;
  background: none;
}

.paginationLink,
.paginationLink:hover,
.paginationLink:active {
  color: #1982d1;
}

.paginationLinkCurrent,
.paginationLinkCurrent:hover,
.paginationLinkCurrent:active {
  font-weight: bold;
  color: #3d3d3d;
}

.paginationLink:hover,
.paginationLink:active,
.paginationLinkCurrent:hover,
.paginationLinkCurrent:active {
  background: none;
  box-shadow: none;
  border-color: #ccc;
}

/* Filters Panel */

#dark-overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgba(30, 30, 30, 0.75);
  text-align: center;
}

#dark-overlay:hover {
  cursor: pointer;
}

#dark-overlay-text {
  color: #fff;
  padding: 2px 8px;
  position: fixed;
  bottom: 1.5%;
  right: center;
  margin-left: -53px;
  font-weight: bold;
}

#style-filters,
#instrument-filters,
#composer-filters,
#about {
  display: none;
  margin: 5% auto;
  width: 86%;
  max-height: 80%;
  padding: 20px 2%;
  overflow: auto;
  background: #fafafa;
  z-index: 1002;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.3;
  overflow-x: auto;
  text-align: center;
}

#style-filters:hover,
#instrument-filters:hover,
#composer-filters:hover,
#about:hover {
  cursor: default;
}

#style-filters a,
#instrument-filters a,
#composer-filters a {
  color: #555;
}

#style-filters a:hover,
#instrument-filters a:hover,
#composer-filters a:hover {
  cursor: pointer;
}

#style-filters {
  max-width: 33em;
}

#instrument-filters {
  max-width: 60em;
}

#composer-filters {
  text-align: left;
}

#about {
  text-align: left;
  font-size: 16px;
  line-height: 1.714285714;
}

#about h3 {
  font-size: 1.571428571rem;
  line-height: 1.2;
  margin: 1.714285714rem 0;
  text-align: center;
}

#about p {
  margin: 0 0 1.714285714rem;
}

/* Checkboxes */

ul.filter-panel {
  padding: 0px 6px 10px;
  margin: 0px 6px 10px 26px;
  display: inline-block;
  vertical-align: top;
}

.filter-panel li {
  text-indent: -20px;
  text-align: left;
}

.filter-panel-header-main {
  padding: 10px 0px 10px 3px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.filter-panel-header {
  padding: 28px 0px 10px 3px;
  font-size: 14px;
  color: #555;
}

.filter-panel-select-all {
  padding: 0px 0px 10px 3px;
  font-size: 12px;
  display: block;
  text-align: center;
}

/* Main Content */

.search-results {
  font-size: 16px;
  background: #ffffff;
  margin: 0em -3em;
  padding: 1em 0em;
  border-top: 1px solid #ccc;
  list-style: none !important;
}

.search-result {
  line-height: 1.4em;
  padding: 0.5em 0.5em 0.5em 0em;
  margin-left: 0 !important;
  margin-top: 0.5em;
}

.resultsLine {
  font-size: 14px;
}

.resultsLineItem {
  display: inline-block;
  margin: 0 1rem 0 0;
}

/* =Media queries
-------------------------------------------------------------- */

@media screen and (min-width: 600px) {
  /* let the page take up the full width of the window */
  body .site-content {
    width: 100%;
  }

  body .site {
    max-width: none;
    margin-bottom: 30px;
  }

  .menu-main-menu-container,
  .menu-clairnote-sn-container {
    max-width: none;
  }

  /* size of main h1 header */
  .entry-title {
    font-size: 1.571428571rem;
  }
}

@media screen and (min-width: 750px) {
  .filterSelectWrapper {
    display: inline-block;
    margin: 0rem 0.5rem 0.75rem 0;
  }
}

@media screen and (min-width: 1200px) {
  body .site {
    padding-left: 5.57142rem;
  }
  #search-results {
    margin-left: -5.57142rem;
    padding-left: 5.57142rem;
  }
  #menu-main-menu > li:first-child,
  #menu-clairnote-sn > li:first-child {
    margin-left: 1rem;
  }
}
