.audiovisualizer {
  padding: 0 0 35px;
  text-align: center;
}

.svgStaff {
  max-width: 100%;
  height: auto;
}

.topButtonRow,
.scalesButtonRow,
.modesButtonRow,
.intervalScaleButtonRow {
  margin-bottom: 1rem;
}

.buttonOrSelectSpacer {
  display: inline-block;
  margin: 0 0.2em 0.4em;
}

.scaleTypeButton {
  min-width: 60px;
}

.playAudioButton {
  min-width: 86px;
}

.buttonPressed,
.buttonPressed:hover {
  background: #dddddd;
}

.subcontrols {
  min-height: 140px;
}

/* Scales */

.scaleRootButton {
  min-width: 50px;
  padding: 8px 0px;
}

.scaleRootButtonsTopRow {
  margin-right: 25px;
}

.scaleRootButtonsBottomRow {
  margin-left: 25px;
  margin-top: -1px;
}

.wideText {
  display: none;
}

.narrowText {
  display: inline;
}

.chromaticIntervalButtonsTopRow {
  padding-right: 25px;
}

.chromaticIntervalButtonsBottomRow {
  padding-left: 25px;
  margin-top: -1px;
}

/* .diatonicNumberIntervalButton has no min-width here. */
.chromaticIntervalButton {
  min-width: 50px;
}

/* =Media queries
-------------------------------------------------------------- */

@media screen and (min-width: 630px) {
  body .site-content {
    width: 100%;
  }

  .scaleTypeButton {
    min-width: 84px;
  }

  .scaleRootButton {
    min-width: 62px;
  }
  .scaleRootButtonsBottomRow {
    margin-left: 33px;
  }
  .scaleRootButtonsTopRow {
    margin-right: 33px;
  }

  /* Intervals */

  .wideText {
    display: inline;
  }

  .narrowText {
    display: none;
  }

  .diatonicIntervalButton {
    min-width: 62px;
  }

  .diatonicNumberIntervalButton,
  .chromaticIntervalButton {
    min-width: 84px;
  }

  .chromaticIntervalButtonsTopRow {
    padding-right: 45px;
  }

  .chromaticIntervalButtonsBottomRow {
    padding-left: 45px;
  }
}
