.keyboardRowsContainer,
.fretboardContainer {
  margin-bottom: 1.1rem;
}

.fretboardOpenStringButton {
  border-bottom: 2px solid #666;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
