.noteButton {
  margin: 1px;
  padding: 0;
  min-width: 10%;
  max-width: 32px;
  height: 45px;
  border: 1px solid;
  display: inline-block;
  border-radius: 4px;
  font-size: 8px;
  font-family: Verdana, Tahoma, sans-serif;
  position: relative;
  cursor: pointer;
}

button.noteButton {
  /* Separate to override global `button` properties. */
  border-color: #999;
}

.spacerNoteButton {
  background: none;
  border: 1px solid #fff;
  vertical-align: bottom;
  box-sizing: border-box;
  cursor: default;
}

.noteButtonLabel {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
}

.noteButtonLabelTwo {
  top: 12px;
  left: 2px;
}

.whiteNoteButton {
  background: #eee;
  color: #666;
}

.whiteNoteButton:hover {
  background: #dde6ec;
}

.blackNoteButton {
  background: #ddd;
  color: #666;
}

.blackNoteButton:hover {
  background: #dde6ec;
}

.avrNoteButton32to39,
.avrNoteButton53to64,
.avrNoteButton65toInfinity {
  display: none;
}

/* =Media queries
-------------------------------------------------------------- */

@media screen and (min-width: 425px) {
  .noteButton {
    min-width: 6%;
  }

  .avrNoteButton53to64 {
    display: inline-block;
  }
}

@media screen and (min-width: 630px) {
  .noteButton {
    width: 32px;
    min-width: 0%;
    max-width: 32px;
    font-size: 9px;
  }
}

@media screen and (min-width: 850px) {
  .avrNoteButton32to39,
  .avrNoteButton65toInfinity {
    display: inline-block;
  }
}
