body {
    background: #dcdec3;
}
.site-header {
    background-color: rgb(90, 128, 90);
}
#menu-clairnote-sn .menu-item-has-children > a:first-child {
    display: none;
}
.site-header h1 a {
    font-size: 83.3%;
}

@media screen and (min-width: 600px) {
    .site-header {
        background-color: rgb(134, 162, 124);
    }
    .menu-clairnote-sn-container {
        margin: 0px auto;
        max-width: 67.1428rem;
        padding: 0px 3.57142rem;
        background-color: rgb(90, 128, 90);
        height: 44px;
    }

    #menu-clairnote-sn .menu-item-has-children > a:first-child {
        display: inline-block;
    }

    .main-navigation li:hover,
    .main-navigation li ul li a,
    .main-navigation li ul li a:focus {
        background-color: rgb(134, 162, 124);
    }

    .main-navigation li a:hover,
    .main-navigation li ul li a:hover {
        background: #A1D57D;
    }

    #menu-clairnote-sn > li:first-child {
        margin-left: -1rem;
    }
    .site-content {
        width: 100%;
    }
}
