body {
    background: hsl(65, 30%, 90%);
}
.site-header {
    background-color: hsl(110, 18%, 43%);
}
#menu-clairnote-sn .menu-item-has-children > a:first-child {
    display: none;
}
.site-header h1 a {
    font-size: 83.3%;
}

@media screen and (min-width: 600px) {
    .site-header {
        background-color: hsl(110, 15%, 48%);
    }
    .menu-clairnote-sn-container {
        margin: 0px auto;
        max-width: 67.1428rem;
        padding: 0px 3.57142rem;
        height: 44px;
        background-color: hsl(110, 18%, 43%);
    }

    #menu-clairnote-sn .menu-item-has-children > a:first-child {
        display: inline-block;
    }

    .main-navigation li:hover,
    .main-navigation li a:hover,
    .main-navigation li ul li a,
    .main-navigation li ul li a:focus {
        background-color: hsl(110, 18%, 33%);
    }

    .main-navigation li ul li a:hover {
        background: hsl(110, 18%, 23%);
    }

    #menu-clairnote-sn > li:first-child {
        margin-left: -1rem;
    }
    .site-content {
        width: 100%;
    }
}
